<ion-view view-title="Encuentranos" class="imagen-tras">
    <ion-content>
        <h1 style="text-align: center;">Encuentranos</h1>
        <p class="text-eba"><strong>Av. Mariscal Santa Cruz. Edif. Hansa. Piso 15. Of. 1 y 2</strong><br/><br/>
        <strong>Teléfonos:</strong>  2146292 -  2146279 - 2146307 <br/><br/>
        <strong>Fax:</strong> 2146307 <br/><br/>
        <strong>E-MAIL:</strong> eba@sedem.gob.bo</p>
        <p class="text-eba"> <strong>COMUNÍCATE </strong> <br/> <br/>
        ¿Te gusta la Nuez de la amazonia? ¿La comes con frecuencia? ¿Cómo la prefieres? ¿Tienes alguna receta que quieras compartir con nosotros? Envíanos tus comentarios a</p>
        <p class="text-eba">eba@sedem.gob.bo</p>
    </ion-content>
</ion-view>
