<ion-view view-title="Nosotros" class="imagen-tras">
    <ion-content>
        <h1 style="text-align: center;">Mision</h1>
        <p class="text-eba">Incentivar la producción nacional con valor agregado, generando mayores fuentes de trabajo en procura del desarrollo y soberanía productiva en la Amazonía Boliviana.</p>

        <img class="full-image" ng-src="http://i.imgur.com/DB9AFYz.png">

        <h1 style="text-align: center;">Vision</h1>
        <p class="text-eba">Ser la Empresa referente en el complejo productivo de la Nuez Amazónica en Bolivia para mejorar la distribución de los beneficios, a través de la promoción de políticas sociales, ambientales y económicas.</p>
        <img class="full-image" ng-src="http://i.imgur.com/6J1jxdg.png">
        <h1 style="text-align: center;">Almendra en Bolivia</h1>
        <img class="full-image" ng-src="http://i.imgur.com/HNWN0Ip.png">
        <p class="text-eba">La Nuez Amazónica  es uno de los frutos secos más peculiares que existen, no sólo se destaca por su sabor, propiedades, producción, sino también es un ejemplo magnífico para la conservación de la biodiversidad de la selva amazónica. </p>
        <p class="text-eba">La reserva de la castaña representa el 30% de la riqueza forestal amazónica en los departamentos de Pando y Beni, que limitan con el Brasil, su recolección constituye la principal actividad económica en estos departamentos, actividad en la que nuestro país se constituye como uno de los principales referentes en la producción y comercialización de la castaña a nivel mundial a partir del año de 1996. </p>


        <h1 style="text-align: center;">Beneficios de la Almendra</h1>
        <p class="text-eba">La almendra es uno de los frutos con más beneficios para la salud de las personas, contiene agua, proteínas, grasas, hidratos de carbono y celulosa, además de vitaminas como B1, B2, PP, C, A, D y E; calcio, fósforo, hierro, potasio, sodio, magnesio, azufre, cloro, manganeso, cobre y zinc, contienen además los ocho aminoácidos esenciales. </p>
        <img class="full-image" ng-src="http://i.imgur.com/Azj0zjc.png">
        <p class="text-eba">El contenido en hierro es otra de las virtudes de este delicioso fruto seco. 50 gramos de almendras aportan una dosis de hierro muy similar a la de las espinacas, claro que éstas son 30 veces menos calóricas, el magnesio, el fósforo y el manganeso también son otros de los minerales que aporta este fruto seco en cantidades nada despreciables. </p>
        <p class="text-eba">Tienen un 52% de grasas,  de ellas dos terceras partes corresponden a ácido oleico, esto quiere decir que comer almendras es muy parecido a tomar aceite de oliva desde el punto de vista cardiovascular, tanto es así que se ha demostrado que en comunidades en que se consumen dosis altas de frutos secos, la incidencia de enfermedades cardiovasculares es menor, otro punto a tener en cuenta es su contenido en ácido linoleico (omega-6), ácido graso esencial para el organismo que éste no sintetiza y que le es necesario obtener de la dieta. </p>
        <img class="full-image" ng-src="http://i.imgur.com/zw7MQ8b.png">
        <p class="text-eba">El control de la dieta es esencial en los diabéticos que no dependen de insulina, la almendra puede formar parte de la alimentación de un diabético, por una parte, se sabe que la asociación de la fibra con los azúcares provoca una disminución en la velocidad de absorción de la glucosa, lo que hace que el aumento de los niveles de glucosa e insulina sea moderado. </p>
        <p class="text-eba">La alternativa natural a la aspirina, consiste en comer un puñado de almendras aunque sus efectos sean más lentos, esto se debe a que las almendras contienen una buena proporción de salicilatos, sales formadas por ácido salicílico y una base que constituyen el principal agente activo de la aspirina, al que se deben los milagrosos efectos de este popular fármaco. Además, por su alto valor calórico y proteínico, las almendras ayudan a la regeneración del  sistema nervioso y son un buen antiséptico intestinal. </p>
        <p class="text-eba"> </p>

    </ion-content>
</ion-view>
