<ion-view view-title="Eba">
  <ion-content class="imagen-tras">
    <div class="list-buttons">
      <button class="button button-large button-dark button-eba">
          NOSOTROS
      </button>
      <br>
      <br>
      <button class="button button-large button-dark button-eba">
          PRODUCTOS
      </button>
      <br>
      <br>
      <button class="button button-large button-dark button-eba">
          R.S.E.
      </button>
      <br>
      <br>
      <button class="button button-large button-dark button-eba">
          RESERVAS
      </button>
      <br>
      <br>
      <button class="button button-large button-dark button-eba">
          RECETAS
      </button>
      <br>
      <br>
      <button class="button button-large button-dark button-eba">
          ENCUENTRANOS
      </button>
    </div>
  </ion-content>
</ion-view>
