<ion-view view-title="Menu" class="imagen-tras-claro">
  <ion-content>
    <ion-list>
        <br/>
        <button class="button button-large button-dark button-eba" ng-click="moveNosotros()"> NOSOTROS</button>
        <button class="button button-large button-dark button-eba" ng-click="moveProductos()"> PRODUCTOS</button>
        <button class="button button-large button-dark button-eba" ng-click="moveRSE()"> R.S.E</button>
        <button class="button button-large button-dark button-eba" ng-click="moveRecetas()"> RECETAS</button>
        <button class="button button-large button-dark button-eba" ng-click="moveReservas()"> RESERVAS</button>
        <button class="button button-large button-dark button-eba" ng-click="moveContactenos()"> ENCUENTRANOS</button>
    </ion-list>
  </ion-content>
</ion-view>
