<ion-view view-title="R.S.E." class="imagen-tras">
    <ion-content>
        <h1 style="text-align: center;">Responsabilidad Social Empresarial</h1>
        <p class="text-eba">La industria de la Nuez Amazónica en Bolivia necesita transformarse para llegar a ser una industria de alimentos de calidad internacional y EBA quiere ser el líder que promueva el cambio en la industria, nuestra empresa quiere ser un ejemplo de empresa pública que sea reconocida por su iniciativa, calidad empresarial, papel transformador en la industria, transparencia y su habilidad para crear valor.</p>
        <img class="full-image" ng-src="http://i.imgur.com/xMSa7bm.png">
        <p class="text-eba">Mejorar los ingresos económicos es importante, pero al mismo tiempo se debe producir beneficios sociales y ambientales, esto va de acuerdo al ideal del: “Vivir Bien” promovido por el Estado Plurinacional. EBA quiere promover un desarrollo económico sostenible y equilibrado.  No queremos que la industria de la Nuez Amazónica dure 20 ó 50 años más, deseamos que dure por siempre. </p>
        <img class="full-image" ng-src="http://i.imgur.com/Wu9KMm6.png">
        <p class="text-eba">La sostenibilidad ambiental es muy importante para la empresa y para nuestro país, EBA apoya la sostenibilidad ambiental a través de la recolección de la nuez amazónica, ya que en la recolección no se cortan árboles, como la producción disminuye cuando se elimina el bosque, la recolección de la Nuez Amazónica ayuda a preservar el bosque pues genera un incentivo económico para que los habitantes de la región cuiden la Amazonía.</p>
        <img class="full-image" ng-src="http://i.imgur.com/MCmDyOb.png">
        <h1 style="text-align: center;">Proposito Estrategico</h1>
        <p class="text-eba">Ambiental: Promover la conservación del bosque amazónico.</p>
        <p class="text-eba">Social: Ser la fuente laboral para más del 70% de las personas económicamente activas de las comunidades indígenas. </p>
        <p class="text-eba">Económico: Ayudar a reducir la pobreza, por medio de fuentes laborales, proporcionando de esta manera ingresos para los recolectores de comunidades indígenas y campesinas en el campo y a familias fabriles en las ciudades. </p>
        <p class="text-eba">Seguridad Alimentaria: La Nuez Amazónica es uno de los productos más nutritivos del planeta: tiene un alto contenido de proteínas, grasas insaturadas, ácidos grasos Omega 6 y selenio. </p>

        <h1 style="text-align: center;">Campaña de Conciencia Ambiental</h1>
        <img class="full-image" ng-src="http://i.imgur.com/o90IvKq.png">
        <p class="text-eba">EBA busca sensibilizar o concientizar a las personas sobre la importancia del cuidado ambiental, inculcando hábitos y costumbres que favorezcan al  cuidado ambiental.</p>
        <img class="full-image" ng-src="http://i.imgur.com/E8005Vs.png">
        <p class="text-eba">El cuidado ambiental para EBA es fundamental a la hora de elaborar los diferentes productos, ya que estos están empaquetados con materiales que no dañan el medio ambiente.</p>
        <h1 style="text-align: center;">Postales Ambientales</h1>
        <img class="full-image" ng-src="http://i.imgur.com/kScBtZk.png">
        <img class="full-image" ng-src="http://i.imgur.com/YH2JvzI.png">
        <img class="full-image" ng-src="http://i.imgur.com/e9LmYxr.png">
        <img class="full-image" ng-src="http://i.imgur.com/XfdYbAZ.png">
        <img class="full-image" ng-src="http://i.imgur.com/9tBd6Ge.png">
        <h1 style="text-align: center;">Aporte Social</h1>
        <p class="text-eba">La ayuda social es de suma importancia para EBA, la empresa apoya a las comunidades indígenas a través de la generación de empleos, de esta manera las personas menos favorecidas pueden superarse y lograr mantenerse por sí mismas.</p>
        <img class="full-image" ng-src="http://i.imgur.com/gRa0HHp.png">
        <p class="text-eba">EBA busca que el precio de la nuez amazónica se incremente, a través del trabajo conjunto con las comunidades recolectoras de este producto, mediante la mejora de calidad de este, de esta manera se puede posicionar a la nuez amazónica como un producto de cualidades excepcionales al ser el único país que recolecta este producto de manera silvestre y que ayuda a conservar el bosque amazónico. </p>
        <img class="full-image" ng-src="http://i.imgur.com/sqt0LQJ.png">
        <p class="text-eba">EBA trabaja conjuntamente con las comunidades recolectoras, brindando capacitaciones que lograron que la nuez amazónica obtenga certificaciones de calidad, logrando de esta manera un incremento en los precios de un 17% hasta un 35% que los de la nuez convencional.</p>
        <h1 style="text-align: center;">Postales Sociales</h1>
        <img class="full-image" ng-src="http://i.imgur.com/f8WOb7I.png">
        <img class="full-image" ng-src="http://i.imgur.com/Yb4C5Zt.png">

    </ion-content>
</ion-view>
